.ql-editor {
  min-height: 200px;
  background: #fff;
}

.form {
  margin: auto;
}



.form input,
.form textarea,
.form select {
  display: block;
  width: 100%;
  height: 45px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: var(--s-radius);
  border: 0;
  background: #fff;
  border: 1.2px solid #ccc;
  padding: 0 var(--m-padding);
  font-size: 18px;
}

.form input[type="checkbox"] {
  width: unset;
  height: unset;
  display: unset;
}

.form .required-input {
  border-color: red;
}

.back_btn {
  font-size: 19px;
  margin-bottom: 1rem;
  display: block;
}

.back_btn svg {
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1),
    -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  fill: var(--main-color);
}

.back_btn:hover svg {
  -webkit-transform: translatex(6px);
  transform: translatex(6px);
}

.content {
  background: #f9f9f9;
  background: #f9f9f9;
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow2);
  padding: var(--l-padding);
  border-radius: var(--m-radius);
  width: 80vw;
  margin: var(--m-margin) auto;
}

.content h1 {
  margin-bottom: var(--m-margin);
}


@media screen and (max-width: 900px) {
  .content {
    width: 100%;
    padding: var(--m-padding);
    box-shadow: unset;
    border-radius: unset;
    margin: 0;

  }
}